html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Jost', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

#root {
  width: 100%;
  height: 100vh;
}

header {
  background: #511c29;
  height: 70px;
  display: flex;
  color: black;
  justify-content: space-between;
  padding: 10px;
  color:white;
}

header img {
  filter: drop-shadow(3px 3px #222);
  margin-right: 10px;
}

main {
  width: 90%;
  height: calc(100vh - 140px);
  position: relative;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 49%;
  min-height: 100%;
  position: relative;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid lightgray;
  overflow: scroll;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.elem {
  border: 1px solid gray;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 7px;
}

.elem * {
  display: inline-flex;
}

footer {
  height: 40px;
  background-color: #56494e;
  bottom: 0;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.hot {
  border: 2px solid #db320d;
}

.done {
  color: #666;
  text-decoration: line-through;
}

#form {
  width: 100%;
  position: relative;
}

#form input {
  font-size: 24px;
  font-weight: 600;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #333;
  background: #f1f6f2;
  width: 90%;
}

#form label {
  display: inline-flex;
}

#form textarea{
  margin-top: 10px;
  width: 90%;
  height: auto;
  overflow: scroll;
}

.container::-webkit-scrollbar, textarea::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.container, textarea {
  -ms-overflow-style: none;
}

.todosconthead {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.todosconthead > *{
  margin-top: 5px;
}

.icon i {
  min-width: 30px;
  min-height: 30px;
  color: #db320d;
  margin-top: 15px;
}

.ri-information-line {
  display: block;
  position: relative;
  top: 25%;
  margin: 5px;
}