html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Jost', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

#root {
  width: 100%;
  height: 100vh;
}

header {
  background: #511c29;
  height: 70px;
  display: flex;
  color: black;
  justify-content: space-between;
  padding: 10px;
  color:white;
}

header img {
  filter: drop-shadow(3px 3px #222);
  margin-right: 10px;
}

main {
  width: 90%;
  height: calc(100vh - 140px);
  position: relative;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 49%;
  min-height: 100%;
  position: relative;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid lightgray;
  overflow: scroll;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.elem {
  border: 1px solid gray;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 7px;
}

.elem * {
  display: inline-flex;
}

footer {
  height: 40px;
  background-color: #56494e;
  bottom: 0;
  width: 100%;
  position: absolute;
  overflow: hidden;
  color: white;
  padding: 5px 10px;
  line-height: 1px;
}

.hot {
  border: 2px solid #db320d;
}

.done {
  color: #666;
  text-decoration: line-through;
}

#form {
  width: 100%;
  position: relative;
}

form input {
  font-size: 24px;
  font-weight: 600;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #333;
  background: #f1f6f2;
  width: 90%;
}

#form label {
  display: inline-flex;
}

#form textarea{
  margin-top: 10px;
  width: 90%;
  height: auto;
  overflow: scroll;
  margin-bottom: 15px;
}

.container::-webkit-scrollbar, textarea::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.container, textarea {
  -ms-overflow-style: none;
}

.todosconthead {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.todosconthead > *{
  margin-top: 5px;
}

.icon i {
  min-width: 30px;
  min-height: 30px;
  color: #db320d;
  margin-top: 15px;
}

.ri-information-line {
  display: block;
  position: relative;
  top: 25%;
  margin: 5px;
}

form button, .button, .pomooff {
  width: 70px;
  height: 30px;
  border: 2px solid #194;
  background: #3b7;
  color: white;
  letter-spacing: 1px;
  /*background: rgba(140, 50, 14, 0.5);*/
  border-radius: 15px;
}

.pomoon {
  border: 2px solid #941;
  background: #b73;
}

.reset {  
  border: 2px solid #914;
  background: #b37;
  margin-left: 15px;
}

.picker button {
  width: 8px;
  height: 15px;
  color: black;
  padding: 0;
  margin-top: 3px;
}

.react-calendar__navigation {
  height: 15px;
}

.picker input, .react-date-picker__inputGroup__input {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.picker * {
  border: none;
}

button.react-date-picker__calendar-button {
  display: none;
}

.calendar .calendar-days_of_week_day, .calendar-month button {
  display: inline-flex;
  justify-content: space-between;
  width: 50px;
  height: 45px;
  margin: 3px;
}

.calendar-month button {
  border: 1px solid grey;
  border-radius: 10px;
  background: #fafafa;
  padding: 5px;
  text-align: center;
}

button.is-today {
  background: #e1e6f2;
}

.is-disabled::after {
  content: "";
  display: block;
  position: relative;
  height: 3px;
  width: 50px;
  top: 30px;
  background-color: red;
}

.calendar-notice {
  display: none;
}

.calendar-month_header {
  display: flex;
  margin: 30px 0 20px;
}

.calendar-month_header * {
  border: none;
  background: none;
  margin-right: 15px;
}


.ri-delete-bin-line {
  position: absolute;
  display: inline-block;
  right: 70px;
  bottom: 30px;
  cursor: pointer;
}